<div id="main-content">
  <div id="banner-section">
    <div id="banner">
      <div class="space" id="first"></div>
      <div id="banner-left" class="container">
        <video id="custom_video" class="desktop video-full-desktop" autoplay="" loop="" muted="" playsinline="">
          <source src="https://cdn.shopify.com/videos/c/o/v/ccf0bdeada334a1791d8bbd4d4cb2047.mp4" type="video/mp4">
        </video>
      </div>
      <div class="space"></div>
    </div>
    <div id="banner-right">
      <div class="container">
        <div class="content">
          <h1>Bullseye Studio</h1>
          <p>A growing collective of the California soul</p>
          <%= link_to "Explore the studio", menu_path, id: "banner-button", class: "button desktop" %>
          <a href="#headline-one" id="banner-button" class="button mobile">Explore the studio</a>
        </div>
      </div>
    </div>
  </div>

  <div id="headline-one" class="shop-link wow fadeInLeft" data-wow-delay="0.45s">
    <div id="headone-container" class="shop-link">
      <div id="headone-content" class="shop-link">
        <h1>All the BS without the BS.</h1>
        <p>Take a look at the stunning art from our talented artists. Happy to respond to all inquiries or customization requests. Providing optional details (size, space, theme, etc.) is key to getting the perfect piece!</p>
        <%= link_to "Shop All", menu_path, id: "headone-button", class: "button" %>
      </div>
    </div>
  </div>

  <div id="collection-section">
    <div id="collection-container">
      <div id="collection-content">
        <div id="work-title">
          <div id="work-title-container" class="container">
            <h1 class="wow fadeInRight" data-wow-delay="1s">This Week's Featured Artwork</h1>
          </div>
        </div>

        <div class="container section-wrapper">
          <div id="swiper-1"
               class="row swiper swiper-container collection wow fadeInLeft"
               data-wow-delay="1.5s">
            <div id="work-container" class="swiper-wrapper scroll-point">
              <% @work.each_with_index do |work, index| %>
              <div id="work-<%= index+1 %>" class="swiper-slide work">
                <%= image_tag "#{$s3}sprites/#{work.image}", class: "featured" %>
                <div class="content">

                  <%= form_for(:item, :url => stripe_add_path) do |f| %>
                    <div class="field hidden-field">
                      <%= f.hidden_field :name, value: work.name %>
                    </div>
                    <div class="field hidden-field">
                      <%= f.hidden_field :menu_id, value: work.menu_id %>
                    </div>
                    <div class="field hidden-field">
                      <%= f.hidden_field :image, value: work.image %>
                    </div>
                    <div class="field hidden-field">
                      <%= f.hidden_field :quantity, value: 1 %>
                    </div>
                    <h4><%= work.name %></h4>
                    <p><%= work.description %></p>
                    <div class="quantity-submit">
                      <div id="submit-<%= index+1 %>" class="actions">
                        <%= f.submit "Purchase" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <% end %>
            </div>
            <div class="slider-buttons">
              <button class="swiper-button-prev collection">Prev</button>
              <button class="swiper-button-next collection">Next</button>
            </div>

            <div class="swiper-pagination collection"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
