<%= stylesheet_link_tag 'talent', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="talent-section">
  <div id="talent-container">

    <div id="talent-content">
      <div id="talent">

        <div id="artists-content" class="talent">
          <% @artsy.each_with_index do |artist, index| %>
            <div id="artist-<%= index+1 %>" class="artist">
              <div class="content">
                <%= image_tag artist.photo, class: "artists" %>
                <h2><%= artist.name %></h2>
                <h3><%= artist.city %></h3>
                <p><%= artist.info %></p>
              </div>
            </div>
          <% end %>
        </div>

        <div id="business-content" class="talent">
          <% @bussy.each_with_index do |minion, index| %>
            <div id="minion-<%= index+1 %>" class="minions">
              <div class="content">
                <%= image_tag minion.photo, class: "minions" %>
                <h2><%= minion.name %></h2>
                <h3><%= minion.city %></h3>
                <p><%= minion.info %></p>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>
