<!DOCTYPE html>
<html>

  <head>
    <title>Bullseye Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- universal -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'semantic', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Castoro:ital@0;1&family=Corinthia:wght@400;700&family=Kaushan+Script&family=Orbitron:wght@900&family=Permanent+Marker&family=Russo+One&display=swap" rel="stylesheet" />

    <!-- scroll reveal -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css" />

    <!-- slide swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />

    <%= favicon_link_tag asset_path('https://bullseye-studio.s3.us-west-1.amazonaws.com/sprites/bullseye_logo.svg') %>

  </head>

  <body>

    <!-- jquery -->
    <script src="//cdn.jsdelivr.net/jquery/2.2.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>

    <header id="scroll-top">
      <div class="content">

        <%= link_to root_path, class: "desktop" do %>
          <%= image_tag "#{$s3}sprites/bullseye_logo.svg", id: "background", class: "desktop icon" %>
          <%= image_tag "#{$s3}sprites/bullseye-logo-nocolor.png", id: "background", class: "mobile icon" %>
          <h1>Bullseye Studio</h1>
        <% end %>

        <nav class="desktop">
          <ul>
            <%- if current_user %>
            <li class="session-user">
              <%= link_to "LOGOUT", destroy_session_path(current_user), method: :delete, class: "logout" %>
              <p><%= current_user.email %><p>
            </li>
            <% end %>
            <li><%= link_to "Events", about_path %></li>
            <li><%= link_to "Talent", talent_path %></li>
            <li><%= link_to "Shop", menu_path %></li>
            <li id="heart">
              <%= link_to "https://thetacderancode.com" do %>
                <%= image_tag "#{$s3}sprites/heart-solid.svg", id: "heart", class: "icon" %>
              <% end %>
            </li>
          </ul>
        </nav>

        <nav class="mobile">
          <ul>
            <li>
              <%- if current_user %>
              <%= link_to destroy_session_path(current_user), method: :delete, class: "mobile logout" do %>
                <%= image_tag "#{$s3}sprites/logout.svg", id: "logout", class: "icon logout" %>
              <% end %>
              <% end %>
            </li>
            <li id="heart">
              <%= link_to "https://thetacderancode.com", class: "mobile" do %>
                <%= image_tag "#{$s3}sprites/heart-solid.svg", id: "heart", class: "icon" %>
              <% end %>
            </li>
            <div class="dropdown">
              <li>
                <a class="mobile">
                  <%= image_tag "#{$s3}sprites/bars-solid.svg", id: "bars", class: "icon dropbtn" %>
                </a>
              </li>
              <div class="dropdown-content">
                <li><%= link_to "Events", about_path %></li>
                <li><%= link_to "Talent", talent_path %></li>
                <li><%= link_to "Shop", menu_path %></li>
              </div>
            </div>
          </ul>
        </nav>

      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="content">
        <span class="copyright">&copy; 2022 Bullseye Studio</span><a href="https://thetacderancode.com"><strong>Development</strong></a>
        <nav class="desktop">
          <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <!-- slide swiper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"></script>
    <%= javascript_pack_tag 'swiper' %>

  </body>
</html>
